.pageIntro {
  display: flex;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
  padding: 1.25rem;
}

.card {
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3 {
  text-align: center;
  margin: 0;
}

.architectureCat {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/gasholder.jpg);
  background-size: cover;
  background-position: center;
}

.levertonSt {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/leverton-street-20180520.jpeg);
  background-size: cover;
  background-position: center;
}

.cards a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.cards a:hover,
.cards a:focus,
.cards a:active {
  outline: 1px solid white;
}

@media screen and (max-width: 960px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75rem;
    padding: 0.75rem;
  }
  .card {
    min-height: 24vh;
  }
}
@media screen and (max-width: 600px) {
  .cards {
    display: block;
  }
  .card {
    margin-bottom: 0.5rem;
    min-height: 50vw;
  }
}
