.architectureCat {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/gasholder.jpg);
  background-size: cover;
  background-position: center;
}

.archwaySummer17 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/st-johns-tavern-archway-20170831-eugene-molari.jpg);
}
.levertonSt {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/leverton-street-20180520.jpeg);
}
.archwaySummer17,
.levertonSt {
  background-size: cover;
  background-position: center;
}
