.architectureCat {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/italcementi-cividale-20070406-eugene-molari-bg.jpg);
  background-size: cover;
  background-position: center;
}

.archwaySummer17 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/st-johns-tavern-archway-20170831-eugene-molari-bg.jpg);
}
.levertonSt {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/leverton-street-kentish-town-london-20180520-eugene-molari-bg.jpeg);
}
.archwaySummer17,
.levertonSt {
  background-size: cover;
  background-position: center;
}
