.defaultBg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/perranporth-beach-20170401-eugene-molari-bg.jpg);
}
.falmouth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/falmouth-pendennis-point-20200924-eugene-molari-bg.jpeg);
}
.defaultBg,
.falmouth {
  background-size: cover;
  background-position: center;
}
