.defaultBg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/mousehole-harbour-20151010-eugene-molari-bg.jpg);
}
.perranporth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/perranporth-beach-20170401-eugene-molari-bg.jpg);
}
.defaultBg,
.perranporth {
  background-size: cover;
  background-position: center;
}
