.cornwallCat {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/mousehole-harbour-20151010-eugene-molari.jpg);
}

.trelissick {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/trelissick-river-fal-20151008-eugene-molari.jpg);
}
.perranporth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/perranporth-beach-20170401-eugene-molari.jpg);
}
.cornwallCat,
.trelissick,
.perranporth {
  background-size: cover;
  background-position: center;
}
