.pageIntro {
  display: flex;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
  padding: 1.25rem;
  a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
  a:hover,
  a:focus,
  a:active {
    outline: 1px solid white;
  }
}

.card {
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 0 1rem;
  }
}

.cornwallCat {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/mousehole-harbour-20151010-eugene-molari.jpg);
}

.trelissick {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/trelissick-river-fal-20151008-eugene-molari.jpg);
}
.perranporth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/perranporth-beach-20170401-eugene-molari.jpg);
}
.cornwallCat,
.trelissick,
.perranporth {
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 960px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75rem;
    padding: 0.75rem;
  }
  .card {
    min-height: 24vh;
  }
}
@media screen and (max-width: 600px) {
  .cards {
    display: block;
  }
  .card {
    margin-bottom: 0.5rem;
    min-height: 50vw;
  }
}
