html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #262626;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 1rem;
}
figcaption {
  text-align: center;
}
