.pageIntro {
  text-align: center;
  h1 {
    font-size: 1.5rem;
  }
  a {
    color: white;
  }
}

.categoryLink a {
  text-decoration: none;
}

.cards {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  figure {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }
}
