.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
  padding: 1.25rem;
}

.card {
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aerialsCat,
.architectureCat,
.benchesCat,
.flowersCat,
.onesixsevenCat,
.outdoorsCat,
.skiesCat,
.tflCat,
.vehiclesCat {
  background-image: url('/gasholder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cards a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.cards a:hover,
.cards a:focus,
.cards a:active {
  outline: 1px solid white;
}

@media screen and (max-width: 960px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75rem;
    padding: 0.75rem;
  }
  .card {
    min-height: 24vh;
  }
}
@media screen and (max-width: 600px) {
  .cards {
    display: block;
  }
  .card {
    margin-bottom: 0.5rem;
    min-height: 50vw;
  }
}
