.siteMantra p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.aerialsCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/st-eval-airfield-20160713.jpeg);
}
.architectureCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/battersea-power-station-buildings-20170509.jpeg);
}
.benchesCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/fluorescent-bench-on-south-bank-london-20180303.jpeg);
}
.cornwallCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/mousehole-harbour-20151010-eugene-molari.jpg);
}
.floraCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/purple-flower-20170803.jpeg);
}
.homeCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/work-station-by-night-@-167-20170606.jpeg);
}
.outdoorsCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/hampstead-heath-tree-20170625.jpeg);
}
.reflectionsCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/institute-of-directors-20150325-eugene-molari.jpg);
}
.skiesCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/twilight-over-falmouth-harbour-20170730.jpeg);
}
.tflCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/tufnell-park-station-stairs-20170806.jpeg);
}
.vehiclesCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/classic-car-mercedes-on-tufnell-park-road-london-20170824.jpeg);
}
.aerialsCat,
.architectureCat,
.cornwallCat,
.benchesCat,
.floraCat,
.homeCat,
.outdoorsCat,
.reflectionsCat,
.skiesCat,
.tflCat,
.vehiclesCat {
  background-size: cover;
  background-position: center;
}
