.siteMantra p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.aerialsCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/raf-st-eval-airfield-20160713-eugene-molari-bg.jpeg);
}
.architectureCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/battersea-power-station-development-20170509-eugene-molari-bg.jpeg);
}
.benchesCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/jeppe-hein-modified-social-benche-southbank-centre-20180303-eugene-molari-bg.jpeg);
}
.cornwallCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/mousehole-harbour-20151010-eugene-molari-bg.jpg);
}
.floraCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/verbena-bonariensis-20170803-eugene-molari-bg.jpeg);
}
.homeCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/armchair-work-station-by-night-at-167-20170606-eugene-molari-bg.jpeg);
}
.outdoorsCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/hampstead-heath-tree-20170625-eugene-molari-bg.jpeg);
}
.reflectionsCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/institute-of-directors-20150325-eugene-molari-bg.jpg);
}
.skiesCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/falmouth-harbour-twilight-20170730-eugene-molari-bg.jpeg);
}
.tflCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/tufnell-park-tube-station-20170806-eugene-molari-bg.jpeg);
}
.vehiclesCat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/classic-car-mercedes-20170824-eugene-molari-bg.jpeg);
}
.aerialsCat,
.architectureCat,
.cornwallCat,
.benchesCat,
.floraCat,
.homeCat,
.outdoorsCat,
.reflectionsCat,
.skiesCat,
.tflCat,
.vehiclesCat {
  background-size: cover;
  background-position: center;
}
