.pageIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 1.5rem;
  }
  a {
    color: white;
  }
}

.categoryLink a {
  text-decoration: none;
}
