.section,
.sectionAlt {
  padding: 4rem 0;
}

.colOneMobile,
.colOnePortrait,
.colOneSquare,
.colOneLandscape {
  margin: 0 auto;
}
.colOneMobile,
.colTwoMobile {
  max-width: 26rem;
}
.colOnePortrait {
  max-width: 37rem;
}
.colOneSquare {
  max-width: 48rem;
}
.colOneLandscape {
  max-width: 65rem;
}

.colTwo,
.colTwoPortrait {
  display: flex;
  justify-content: space-evenly;
}

.colThree {
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .section {
    padding: 0.5rem 0;
  }
  .colTwo,
  .colThree {
    display: block;
  }
}
@media (max-width: 900px) {
  .video {
    margin-bottom: 4rem;
  }
  .colTwoPortrait {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1080px) {
  .colThree {
    display: block;
  }
}
