.section {
  padding: 4rem 0;
}

.colOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colTwo {
  display: flex;
  justify-content: space-evenly;
}

.colThree {
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .section {
    padding: 0.5rem 0;
  }
  .colTwo,
  .colThree {
    display: block;
  }
}
@media (max-width: 1080px) {
  .colThree {
    display: block;
  }
}
