.section,
.sectionAlt {
  padding: 4rem 0;
}

.colOneSquare,
.colOneLandscape,
.colOnePortrait,
.colOnePortraitVideo,
.colTwoPortrait {
  margin: 0 auto;
}
.colOnePortraitVideo,
.colOneOfTwoPortraitVideo {
  max-width: 26rem;
}
.colOnePortrait {
  max-width: 37rem;
}
.colOneSquare {
  max-width: 48rem;
}
.colOneLandscape {
  max-width: 65rem;
}
.colTwoPortrait {
  max-width: 120rem;
}

.colTwo,
.colTwoPortrait,
.colThree {
  display: flex;
  justify-content: center;
}
.colTwoPortraitVideo {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 720px) {
  .section {
    padding: 0.5rem 0;
  }
  .colTwo {
    display: block;
  }
}
@media (max-width: 800px) {
  .colTwoPortrait {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .colTwoPortraitVideo {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1080px) {
  .colThree {
    display: block;
  }
}
@media (max-width: 1440px) {
  .colTwoPortrait {
    max-width: 73rem;
  }
}
