.defaultBg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://em-p.s3.eu-west-2.amazonaws.com/london-trieste-20150716-eugene-molari-bg.jpg);
}
.defaultBg {
  background-size: cover;
  background-position: center;
}
